* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
/* -------header---------- */

.headerNav {
  background-image: url(./img/banner-bg.svg);
  color: #ffffff;
  background-size: cover;
}
nav {
  padding: 25px 0px;
  font-size: 14px;
}

.navbar ul li a {
  padding: 0px 18px;
  color: #ffffff;
}
.navbar ul li {
  padding-top: 8px;
}

.dlNow a {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  padding: 12px 5px;
  border-radius: 10px;
}
.logoBlack {
  display: none;
}
header.sticky {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  padding: 0px 0;
  color: #2e2e2e;
}
header.sticky .navbar ul li a {
  color: #2e2e2e;
}
header.sticky .logo a .logoBlack {
  display: block;
}
header.sticky .logo a .logoWhite {
  display: none;
}

/* -------------- menuHam---------- */
.hidden {
  display: none;
}
.menuLine {
  width: 40px;
  height: 2px;
  background-color: #2e2e2e;
  margin-top: 8px;
}
.menuCross {
  width: 40px;
  height: 2px;
  background-color: #2e2e2e;
}
.menuCross:first-child {
  transform: rotate(45deg);
}
.menuCross:last-child {
  transform: rotate(-45deg);
}
/* --------------------titles--------- */
.titles {
  text-align: center;
  margin-top: 50px;
}
.titles h3,
.titles h2 {
  font-size: 28px;
}
.titles h3 {
  font-weight: 500;
}
.titles h2 {
  font-weight: 700;
}
.titles p {
  margin: 40px 0px 60px 0px;
}
.titles a {
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  padding: 15px 20px;
  border-radius: 10px;
}
.headerHero {
  margin-bottom: 100px;
}
.headerHero img {
  margin-top: 50px;
  max-width: 580px;
}
/* ----------brand logos-------- */
.brandLogo {
  margin-bottom: 100px;
}
.brandLogo div img {
  width: 140px;
  opacity: 0.5;
}
.brandLogo div img:hover {
  opacity: 1;
}
/* box-shadow: 0 5px 30px 0 rgb(167 167 167 / 16%); */

/* --------------- clean design--------- */
.cleanDesign .line {
  width: 150px;
  height: 5px;
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  margin: 0 auto;
}
.titleDesign h2 {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  padding-top: 30px;
  color: #2e2e2e;
}
.titleDesign {
  font-weight: 300;
  text-align: center;
}
/* ---------- clean design boxs-------- */
.designWrap {
  opacity: 1;
  border: 2px solid transparent;
  box-shadow: 0 5px 30px 0 rgb(167 167 167 / 16%);
  padding: 15px 10px;
  transition: all 0.5s ease-out 0s;
  border-radius: 10px;
  animation-name: test;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
}
@keyframes test {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.designWrap:hover {
  border: 2px solid red;
}
.designWrap .designWrapImg {
  position: relative;
  margin-top: 100px;
}
.designWrap .designWrapImg img,
.designWrap .designWrapImg ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.designWrap .designWrapImg ion-icon {
  font-size: 30px;
  color: #ffffff;
}
.designWrap:hover .designWrapImg {
  transform: rotate(25deg);
}

.designWrap .designWrapContent {
  margin-top: 200px;
}
.designWrap .designWrapContent h3 a,
.designWrap .designWrapContent a {
  display: flex;
  justify-content: center;
  color: #2e2e2e;
}
.designWrap .designWrapContent h3 a:hover {
  color: #0860be;
}

.designWrap .designWrapContent p {
  text-align: center;
  padding: 0px 20px;
  color: #5d5858;
  font-size: 15px;
}
.designWrap .designWrapContent a ion-icon {
  padding-left: 5px;
  font-size: 20px;
  transition: all 0.5s;
}
.designWrap .designWrapContent a:hover {
  color: #0860be;
}
/* <!-- -------------- detail section---------- --> */
.lineSec {
  margin-top: 100px;
  width: 150px;
  height: 5px;
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
}

.aboutImg img {
  width: 500px;
  height: 500px;
  /* padding-right: 50px; */
}

.quick h3 {
  font-weight: 700;
  font-size: 34px;
}
.quick h3 span {
  font-weight: 400;
}
.quick p {
  color: #5d5858;
  /* text-justify: newspaper; */
  line-height: 25px;
}
.quick a {
  display: inline-block;
  margin: 30px 0px;
  border-radius: 10px;
  padding: 10px 20px;
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
}
/* --------------fact------------ */

.fact h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 500;
}
.fact h3 span {
  font-weight: 700;
}
.lineBar {
  width: 150px;
  height: 5px;
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  margin: 0 auto;
}
/* ---------fun facts---------------- */
.funFactSec img {
  width: 500px;
  height: 400px;
  margin-top: 95px;
  /* align-items: center; */
}
.countBox {
  width: 120px;
  height: 200px;
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  border: 1px solid transparent;
  border-radius: 60px;
  transform: rotate(35deg);
}
.countBox:first-child {
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
}
.countBox:last-child {
  background: linear-gradient(#361cc1 0%, #2e82ef 100%);
}
.countBox p {
  margin: 0;
  text-align: center;
  padding-left: 10px;
}
.countBox p,
.countBox span {
  font-size: 15px;
  transform: rotate(-35deg);
  color: #ffffff;
}
.countBox span {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 0px 20px 20px 0px;
  /* padding-right: 20px; */
}
/* ----------------dex section--------- */
.DEXImg {
  width: 400px;
  height: 350px;
}
/* --------subscribe--------- */
.subscribeWrap {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 50px 90px;
  box-shadow: 0 0 18px 0 rgb(50 77 215 / 14%);
  margin-top: 150px;
}
.subscribeWrap h2 {
  font-weight: 700;
}
.subscribeWrap h2,
.subscribeWrap h2 span {
  font-size: 36px;
}

.subscribeWrap h2 span {
  font-weight: 400;
}

.subscribe-form {
  position: relative;
}

.subscribe-form input {
  border: 2px solid #e1e1e1;
  height: 65px;
  padding: 0 30px;
  border-radius: 5px;
  width: 100%;
  color: #2e2e2e;
}
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  background-size: 200%;
}
.subscribe-form button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 65px;
  line-height: 65px;
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  background-size: 200%;
}
/* --------------------footer------- */

footer {
  position: relative;
  background-position: top center;
  z-index: 5;
}
footer::before {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(./img/footer-bg.svg);
  background-position: top center;
  z-index: -1;
  background-size: cover;
}

.footerWrap {
  color: #ffffff;
  padding: 100px 0px;
}
.footerTitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* ------footer logo section------ */
.logoFooter p {
  line-height: 24px;
}
.logoFooter a ion-icon {
  font-size: 25px;
  margin: 30px 0px;
  padding-right: 20px;
  transition: linear 1s;
}
.logoFooter a ion-icon:hover {
  color: #fe8464;
}
/* ----------footer contact------ */
.contact ul li:not(.first),
.linkResources ul li:not(.first) {
  padding-top: 25px;
  transition: 1s;
}
.linkResources ul li a:not(.footerTitle):hover {
  color: #fe8464;
}
