* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
/* -------header---------- */
.header {
  background-image: url(./img/banner-bg.svg);
  color: #ffffff;
  background-size: cover;
}
.headerNavbar {
  padding: 25px 0px;
  font-size: 14px;
}
.header .navbar ul li a,
.header .dlNow a {
  color: #ffffff;
}
.header .navbar ul li a {
  padding: 0px 20px;
}
.header .navbar ul li,
.header .dlNow {
  padding-top: 8px;
}
.header .dlNow a {
  background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
  padding: 12px 20px;
  border-radius: 10px;
}
/* --------------------titles--------- */
.titles {
  text-align: center;
  margin-top: 50px;
}
.titles h3,
.titles h2 {
  font-size: 28px;
}
.titles p {
  margin: 40px 0px 60px 0px;
}
.titles a {
  /* margin-top: 30px; */
  color: #ffffff;
  background: linear-gradient(to right, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
  padding: 15px 20px;
  border-radius: 10px;
}
.headerHero img {
  margin-top: 50px;
  max-width: 580px;
}
